#title {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-stretch: expanded;

}

#picdiv {
    display: inline;
}

#pic {
  max-height: 60vh;
  max-width: 50vw;
}

#choicesdiv {
  overflow: auto;
    z-index: 999;

}

#answerdiv {
  display: inline-block;
}

#answerrow td{
  display: inline-block;
    font-family: 'Didact Gothic', sans-serif;
  font-size: 4em;
    margin: 4px;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  min-width: 100px;
  background-color: transparent;
}

#choicesdiv div{
  display: inline-block;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 4em;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  z-index: 999;
}

.vowel {
  color: red;

}
.ui-draggable {
    z-index: 20;
}
.ui-droppable {
    z-index: -1;
}

.consonant {
  color: blue;
}

#answerrow div:hover, .consonant:hover, .vowel:hover {
    cursor: pointer;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    background-color: transparent;
}